<h1>Super notification mechanism</h1>

<p *ngIf="isGranted" class="success">
  Notifications were granted by the user
 </p>
 <p *ngIf="!isEnabled" class="error">
  This browser will not be able to recieve any notification
 </p>




<div class = 'send-message'>
<h2>Send a message ?</h2>

<div><label>message</label> <input #titleInput value = ""/></div>

<div>
<button (click)="submitNotification()">
    Send notification
  </button>
</div>
</div>

