* {
    font-family: monospace;
}

.success {
    color: green;
}

.error {
    color: red;
}


.send-message {

    margin-top: 40px;

    label {
        display: inline-block;
        font-weight: bold;
        width: 150px;
    }

    div {
        padding: 10px;
    }

}




